*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.modalBackground {
  position: fixed;
  display:flex !important;
  align-items: center !important;

  background-color: #ffffff;
   margin-left: 50%; 
   opacity: 1000;
   /* z-index must be below .modal and above everything else  */
   z-index: 50;
}

.modalContainer {
  width: 600px;
  height: 800px;
  /* border-radius: 12px; */
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display:flex !important;
  padding: 25px;
  margin: auto;
}

.modalContainer-signup{
width: 400px;
  height: 460px;
  /* border-radius: 12px; */
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display:flex !important;
  padding: 25px;
  margin: auto;

}
.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 0px;
}

.link{
  align-items: center;
  margin-top: 20px;
  margin-left: 90px;
}

.titleCloseBtn {
  display: flex;
  /* justify-content: flex-end; */
}



.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalBackground {
  position: fixed;
  display:flex !important;
  float:right;
  margin-top:130px;
  margin-right:130px;
}


.input-container {
  height: 50px;
  position: relative;
  width: 150%;
}

.ic1 {
  margin-top: 40px;
  margin-right: 14px;
}

.ic2 {
  margin-top: 40px;
  margin-left: 4px;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}


.pw{
  height: 50px;
  font-size: 40px;
}

.login {
  background-color: rgb(44, 157, 228);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 15px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.login:active {
  background-color: #06b;
}

.g-btn{
  width:40%;
  height: 5px;
  margin-left: 5px;
  font-size: x-large;
}
.mb-3{
  color: rgb(29, 25, 25);
  margin-top: 0px;
}

.cancelBtn{
  margin-left: -20px;
  margin-top: -20px;
  width: 0px;
  height: 0px;
  }

  .mb-4{
    color: rgb(17, 15, 15);
    margin-top: -10px;
    margin-left: 270px;
  }
  
